<!DOCTYPE HTML>
<html>
<head>
    <title>Athena demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="main.css" type="text/css" media="all"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>

    <script>

        var dataset = [];
        var map;

        $(document).ready(function () {
            $("#mapButton").on('click', function (ev) {
                $("#errorAlert").hide();
                var clickedButton = $("#mapButton");
                startLoadingButton(clickedButton);
                $.ajax({
                    url: "http://localhost:8080/topReviewedStates"
                }).done(function (data) {
                    initialiseStatesDataset(data, dataset);
                }).fail(function (jqXHR) {
                    var responseJSON = jqXHR.responseJSON;
                    handleError(responseJSON);
                }).always(function () {
                    stopLoadingButton(clickedButton);
                });
            });

            map = new Datamap({
                element: document.getElementById('chartdiv'),
                projection: 'mercator',
                scope: 'usa',// big world map
                // countries don't listed in dataset will be painted with this color
                fills: {defaultFill: '#F5F5F5'},
                data: dataset,
                geographyConfig: {
                    borderColor: '#DEDEDE',
                    highlightBorderWidth: 2,
                    // don't change color on mouse hover
                    highlightFillColor: function (geo) {
                        return geo['fillColor'] || '#F5F5F5';
                    },
                    // only change border
                    highlightBorderColor: '#B7B7B7',
                    // show desired information in tooltip
                    popupTemplate: statePopupTemplate
                },
            });

        });

        function statePopupTemplate(geo, data) {
            // don't show tooltip if country don't present in dataset
            if (!data) return;
            // tooltip content
            return ['<div class="hoverinfo">',
                '<strong>', geo.properties.name, '</strong>',
                '<br>Count: <strong>', data.numberOfReviews, '</strong>',
                '</div>'].join('');
        }

        function initialiseStatesDataset(data, dataset) {
            var paletteScale = getColorPalette(data);
            // fill dataset in appropriate format
            var stateCodes = getStateCodes(map);
            data.forEach(function (item) { //
                var iso = item.state,
                    value = item.totalNoOfReviews;
                // add only data from presented states
                if (stateCodes.indexOf(iso.toUpperCase()) > 0) {
                    dataset[iso] = {numberOfReviews: value, fillColor: paletteScale(value)};
                }
            });
            map.updateChoropleth(dataset);

        }

        function getStateCodes(map) {
            return map.svg.selectAll('.datamaps-subunit')[0].map(function (obj) {
                return obj.__data__.id
            });
        }

        function getColorPalette(data) {
            // We need to colorize every country based on "numberOfWhatever"
            // colors should be uniq for every value.
            // For this purpose we create palette(using min/max series-value)
            var onlyValues = data.map(function (obj) {
                return obj.totalNoOfReviews;
            });
            var minValue = Math.min.apply(null, onlyValues),
                maxValue = Math.max.apply(null, onlyValues);

            // create color palette function
            // color can be whatever you wish
            // blue color
            return d3.scale.linear()
                .domain([minValue, maxValue])
                .range(["#05FF05", "#FF0705"])
        }

        function startLoadingButton(clickedButton) {
            clickedButton.attr("disabled", true);
            if (!clickedButton.data('original-text')) {
                clickedButton.data('original-text', clickedButton.html());
            }
            clickedButton.html(clickedButton.data('loading-text'));
        }

        function stopLoadingButton(clickedButton) {
            clickedButton.attr("disabled", false);
            clickedButton.html(clickedButton.data('original-text'));
        }

        function handleError(responseJSON) {
            var errMsg = responseJSON.error + " : " + responseJSON.message;
            console.log("fail: " + errMsg);
            $("#errorContent").html(errMsg);
            $("#errorAlert").show();
        }

    </script>
</head>
<body>
<div id="errorAlert" class="alert alert-danger fade show" role="alert" style="display: none;">
    <strong>Error!</strong> Error occured during query of database:
    <p id="errorContent"></p>
</div>
<h1>AWS Athena demo application</h1>
<p>If you want to see most active states
    <button id="mapButton" type="button" class="btn btn-primary" data-loading-text="<i class='fa fa-refresh fa-spin '></i> Awaiting for db response...">
        here
    </button>
</p>
<div id="chartdiv"></div>
</body>
</html>